
.outerDiv{
    height: auto;
}
.innerDiv{
    box-shadow: 0px 0px 10px 0px rgba(0, 33, 55, .08);
    border: 2px solid rgb(0, 150, 25,.1);
    border-radius: 20px;
}
#h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: white;
}
#form{
    padding-right: 2vw;
}
#buttonDiv{
    font-size: 16px;
    margin-top: 15vw;
    margin-bottom: 3vw;
}
#signin{
    text-decoration: none;
    display: flex;
    justify-content: right;
}