
.mycard{
    background-color: white;
    box-shadow: 4px 4px 5px rgb(39, 39, 39);
    /* padding: 10px 20px; */
}
.content{
    padding: 10px 20px;
}

  
  .box0 {
    transition: transform, box-shadow 1s, 1s;
    /* transition: box-shadow 1s; */
    box-shadow: 2px 2px 3px 1px #282827c0;
  }
  
  .box0:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 30px 1px #3e3e3dc0;
    /* transform :rotateY(-180deg);	 */
  }
  
  .box-content0 {
    width: 100%;
    height: 30vh;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* border: 2px solid red; */
  }
  
  #cardimg:hover {
    box-shadow: 3px 3px 5px;
  }
  
  .box-back,
  .box-front {
    width: 100%;
    height: 45vh;
    position: absolute;
    backface-visibility: hidden;
    height: auto;
  }
  
  .box-front {
    text-align: center;
  }
  
  .box-back {
    padding: 15% 15% 10% 15%;
    color: black;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    transform: rotateY(180deg);
  
  }
  
  .rotate:hover .box-content0 {
    transform: rotateY(180deg);
  }
  
  .card-body {
    /* border: 2px solid green; */
    padding: 3% 7% 7% 7%;
  }
  
  .card-title {
    font-size: 14px;
  }
  
  .box0 {
    border-style: none;
    position: relative;
  }
  
  .box0:hover .cross {
    display: inline;
  }
  
  .cross {
    position: absolute !important;
    margin-left: 82.5% !important;
    margin-top: -3.5% !important; 
    display: none;
   
  
  }
  
  .bt2 {
    margin-left: 20px !important;
    border-style: none;
    border-radius: 50% !important;
    color: #18181a ;
    background-color: #fff;
    font-size: 15px !important;
    padding: 0px 0px !important;
    width: 22px !important;
    height: 22px !important;
    box-shadow: 1px 1px 1px;
  }
  
  /* .................................................... */

  
  /* CSS */
  .button-57 {
    position: relative;
    overflow: hidden;
    /* border: 1px solid #18181a; */
    border-style: none;
    color: #fff;
    /* color: #18181a; */
    display: inline-block;
    font-size: 12px;
    width: 100%;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 8px 8px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    background: #1aa694;
    /* background: rgb(253, 220, 5); */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    outline: none !important;
    
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 25px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  
  }
   
  .rounded-circle{
    position: absolute;
    width: 17px;
    height: 17px;
    padding: 0px;
    font-size: 12px;
    margin-top: 7px;
    margin-left: -39px;
    display: none;
  }
  .no:hover {
    box-shadow: 0px 0px 0px;
  }
  
  .ratings{
    margin-bottom: 0px;
  }

/* _________________filter category_______________________ */
.category{
  border-radius: 10px;
  background-color: #1aa694;
  color:white;
 }
.category:hover{
  background-color: #1aa694;
  color:white;
}
