.box-content10 {
    /* border: 2px solid rgb(0, 255, 145); */
    height: var(--modal-height);
    padding: 0px;
    transform-style: preserve-3d;
    transition: transform 1s;
    border-radius: 17px;
    /* justify-content: center; */

}
small{
    font-size: 11px;
}
.category:focus{
    border: none !important;
    outline: none;
}

#option1{
    font-size: 14px !important;
}
#option1:hover{
    background-color: red !important;
}
#w3review:focus{
outline: none;
}