
:root{
    --modal-height:85vh;
}


.modal-ku {
    width: 80%;
    margin: auto;
}
#closebutoon {
    text-align: end;
}
.close {
    display: flex;
    justify-content: right;
}


#firstside{
    background-color: #42C8B7;
}
#container {
    box-shadow: 2px solid black;
}
#h2 {
    color: white;
    font-size: 2rem;

}


#password,
#input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    border-bottom-width: 100%;
    width: 99%;
    outline: none;
    position: relative;
    color: black;
}

input::placeholder {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.279);
}
#forgotpassword {
    text-align: justify;
    text-align-last: right;
    text-decoration: none;
}
.link {
    text-decoration: none;
    display: flex;
    justify-content: right;


}
.SignUpLink{
    padding-left: 25px;
    text-decoration: none;
    font-size: 14px;
    
}
#checkboxcontaint {
    padding-left: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
}

.fp,
#termcondition {
    text-decoration: none;
    color: #42C8B7;
    font-size: 13px;
}

input[type=checkbox] {
    accent-color: #42c8b7;
    cursor: pointer;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-top:3px ;
}

#signinBtn {
    width: 100%;
    height: 42px;
    font-weight: 100;
    font-size: 20px;
    font-weight: 600;
    font-size: 17px;
    text-size-adjust: 100%;
    cursor: pointer;
    text-transform: capitalize;
    font-family: Montserrat;
    padding-bottom: 2vw;
    background-color: #42C8B7;
    color: white;

}
.signup{
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
    margin-left: -10px;
}
.signuplink{
    color: #42C8B7;
    text-decoration: none;
}

.linkHover:hover{
    color: #038473;
}
.div1{
    height: 10vh;
    padding:  20px 0;
    position: relative;
    
}
.label1{

    color: rgb(45, 45, 45);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4375em;
    font-family: Montserrat;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 133%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(0px, -1.5px) scale(0.75);

}

.input1:hover{  
    border-bottom: 2px solid rgb(158, 157, 157) !important;
}
.input1:focus{  
    border-bottom: 2px solid #42C8B7 !important;
}
.input1:focus ~ .label1{
   color: #42C8B7;
}
.input1{
    position: relative;
    font-size: 16px;
}
.sideImg{
    width:80% ;
    margin-top: 37vh;

    
}
#firstside{
    border-radius: 16px 0px 0 16px;
    /* height:  var(--modal-height); */
    height:  auto;
}

.secondside{ 
    border-radius: 0 16px 0 16px;
    padding-right: 30px;
    background-color: #fff;
    /* height:  var(--modal-height); */
    /* height:  100%; */
    
}
.r1,
.modal1{

   border-radius: 16px;
}
.modal1{
    width: 100%;
    padding: 0;
    /* border: 10px solid yellow; */
    width: 100%;
    height: var(--modal-height);
    background: transparent;
    border: none;
}
.r1{
    margin: 0;
    width: 100%;
}
#closebutoon{
    margin: 8px -14px 0px 0px; 
}





/* -----------------------------------------flip------------------------------------------- */
.box {
    /* height: 50vh; */
    width: 100%;
    /* margin-top: 10vh; */
    /* border: 1px solid red; */
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    border-radius: 17px;

}

.box-content {
    /* border: 2px solid rgb(0, 255, 145); */
    height: var(--modal-height);
    padding: 0px;
    transform-style: preserve-3d;
    transition: transform 1s;
    border-radius: 17px;
    /* justify-content: center; */
}

/* .box:hover .box-content {
    transform: rotateY(180deg);
} */


.outer1 {
    /* border: 2px solid rgb(7, 17, 159); */
    

    position: absolute;
    height:  var(--modal-height);
    backface-visibility: hidden;
    background-color: white;
    padding: 1% 5%;
    border-radius: 17px;
    box-shadow: 2px 2px 5px;
    overflow-y: auto;

}

.outer2 {
    position: absolute;
    backface-visibility: hidden;
    height:  var(--modal-height);
    /* width: 75%; */
    box-shadow: 2px 2px 5px;
    border-radius: 17px;
    transform: rotateY(180deg);
    padding: 1% 5%;
    background-color: white;
       /* overflow-y: auto; */
}

/* ------------------------------------------------------------------------------------ */

@media screen and (max-width: 767px) {

   .secondside{
        position: absolute;
        /* background-color: white; */
        top: 25%;
        

        border-radius: 17px;
        padding-bottom: 0;
    }
    /*  #firstside{
        border-radius: 17px;
    } */
    .sideImg{
        margin: 0;
        visibility: hidden;
    }
} 